
</div>
</div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/js/jquery-3.1.1.min.js"></script>


<script src="/assets/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
<script type="text/javascript">
    $("ul.qcontrols li").click(function(){
        // If this isn't already active
        if (!$(this).hasClass("active")) {
            // Remove the class from anything that is active
            $("ul.qcontrols li.active").removeClass("active");
            // And make this active
            $(this).addClass("active");
        }
    });
</script>
<script>
    function enviar(){

        $('input:checkbox:checked').each(
            function() {
                alert("El checkbox con valor " + $(this).val() + " está seleccionado");
            }
        );
    }
    function enable2() {
        document.getElementById("myBtn1").disabled = false;
    }
    function enable() {
        document.getElementById("add").disabled = false;
        document.getElementById("continue").disabled = false;
    }
</script>

</body>
</html>