
<!-- Bootstrap JS -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- WOW JS plugin for animation -->
<script src="/assets/js/wow.js"></script>
<!-- Date Picker -->
<script type="text/javascript" src="/assets/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/assets/js/moment-with-locales.min.js"></script>
<script type="text/javascript" src="/assets/js/transition.js"></script>
<script type="text/javascript" src="/assets/js/collapse.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>




<!-- All JS plugin Triggers -->
<!-- virtual-keyboard -->
<script src="/assets/js/jquery.keyboard.js"></script>
<script src="/assets/js/jquery.keyboard.extension-all.min.js"></script>


</body>
</html>