<!-- jQuery Load -->
<script src="assets/js/jquery-min.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- WOW JS plugin for animation -->
<script src="assets/js/wow.js"></script>
<!-- Date Picker -->
<script src="assets/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    $('#datepicker').datepicker({
        defaultViewDate: {year:2000 ,month:0, day:1},
        format: 'yyyy/mm/dd',
        startView: 2,
        endDate: new Date(),
        autoclose: true,
    });

    $(function() {

        $('#keyboard').keyboard({
            usePreview: false,
            autoAccept: true
        })
        // activate the typing extension
            .addTyping({
                showTyping: true,
                delay: 250
            });

        $('#keyboard2').keyboard({
            usePreview: false,
            autoAccept: true
        })
        // activate the typing extension
            .addTyping({
                showTyping: true,
                delay: 250
            });

    });
</script>


<!-- All JS plugin Triggers -->
<script src="assets/js/main.js"></script>
<!-- Smooth scroll -->
<script src="assets/js/smooth-scroll.js"></script>
<!--  -->
<script src="assets/js/jasny-bootstrap.min.js"></script>
<!-- Counterup -->
<script src="assets/js/jquery.counterup.min.js"></script>
<!-- waypoints -->
<script src="assets/js/waypoints.min.js"></script>
<!-- virtual-keyboard -->
<script src="assets/js/jquery.keyboard.js"></script>
<script src="assets/js/jquery.keyboard.extension-all.min.js"></script>


</body>
</html>