<!-- jQuery Load -->
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<!-- Bootstrap JS -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- WOW JS plugin for animation -->
<script src="/assets/js/wow.js"></script>
<!-- Date Picker -->
<script type="text/javascript" src="/assets/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/transition.js"></script>
<script type="text/javascript" src="/assets/js/collapse.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">


    $('#datepicker2').datepicker({
        defaultViewDate: {year:2000 ,month:0, day:1},
        format: 'yyyy/mm/dd',
        startView: 2,
        endDate: new Date(),
        autoclose: true,
    });

    $("#success").fadeTo(2000, 500).slideUp(500, function(){
        $("#success").slideUp(500);
    });

    $(function() {
        $('#datepicker').datetimepicker({
            viewMode: 'years',
            format: 'YYYY/MM/DD',
            maxDate: new Date(),
            useCurrent: false
        });

        $('#keyboard').keyboard({
            usePreview: false,
            autoAccept: true
        })
        // activate the typing extension
            .addTyping({
                showTyping: true,
                delay: 250
            });

        $('#keyboard2').keyboard({
            usePreview: false,
            autoAccept: true
        })
        // activate the typing extension
            .addTyping({
                showTyping: true,
                delay: 250
            });

    });
</script>


<!-- All JS plugin Triggers -->
<!-- virtual-keyboard -->
<script src="/assets/js/jquery.keyboard.js"></script>
<script src="/assets/js/jquery.keyboard.extension-all.min.js"></script>


</body>
</html>