<html lang="es">
<head>
    <meta charset="utf-8">
    <meta content='True' name='HandheldFriendly' >
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' >
    <title>Totem</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/jasny-bootstrap.min.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css" >
    <!-- virtual keyboard -->
    <link rel="stylesheet" type="text/css" href="/assets/css/keyboard-dark.min.css">

    <style>
        .ui-keyboard {
            border-radius: 0;
            left: 0;
            top: auto;
            bottom: 0;
            position: fixed;
            width: 100%;
        }


    </style>
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">

    <!--Fonts-->
    <link rel="stylesheet" media="screen" href="/assets/fonts/font-awesome/font-awesome.min.css">

    <!-- Extras -->
    <link rel="stylesheet" type="text/css" href="/assets/extras/animate.css">

    <link rel="shortcut icon" href="/assets/img/logo.png">
</head>
<body>
