<!-- jQuery Load -->
<script src="/assets/js/jquery-min.js"></script>
<!-- Bootstrap JS -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- WOW JS plugin for animation -->
<script src="/assets/js/wow.js"></script>




<!-- All JS plugin Triggers -->
<script src="/assets/js/main.js"></script>
<!-- Smooth scroll -->
<script src="/assets/js/smooth-scroll.js"></script>
<!--  -->
<script src="/assets/js/jasny-bootstrap.min.js"></script>
<!-- Counterup -->
<!-- waypoints -->


</body>
</html>