<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vips</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/jasny-bootstrap.min.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

    <style>
        .invis {
            width: 10px;
            height: 10px;
        }
    </style>
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">

    <!--Fonts-->
    <link rel="stylesheet" media="screen" href="/assets/fonts/font-awesome/font-awesome.min.css">

    <!-- Extras -->
    <link rel="stylesheet" type="text/css" href="/assets/extras/animate.css">

    <link rel="shortcut icon" href="/assets/img/logo.png">
</head>
<body>
