<%- include layouts/tot_header.ejs %>

<section id="header">
  <div class="container">
    <div class='banner text-center'>
      <h1 class="section-title wow fadeInDown animated"><span>Pre Chequeo</span></h1>
      <h2>Recuerde registrar a cada asistente</h2>
      <div class="col-sm-6 col-md-6 col-md-offset-3">
        <form action="/pjump/save" method='POST'>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text" name="nom" id="keyboard" class="form-control" placeholder="Nombre" required>
            <input type="text" name="ape" id="keyboard2" class="form-control" placeholder="Apellido" required>
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input type="text" name="fnac" class="form-control" data-provide="datepicker" placeholder="Fecha de nacimiento" id="datepicker" required>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</section>
<%- include layouts/tot_footer.ejs %>