<%- include layouts/admin_header.ejs %>
<div id="success"></div>
<h1>Estadísticas</h1>
<div class="row">
    <h3>Generar Visitas</h3>
    <form class="form" action='/g_csv' method="POST">
        <div class=form-group>
            <label for="datepicker">Desde:</label>
            <input type="date" class="form-control" name="ini" id="datepicker">
            <label for="datepicker2">Hasta:</label>
            <input type="date" name="end" id="datepicker2" class="form-control" disabled>
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary" type="submit">Generar</button>
            <label>
                <input type="checkbox"  value="no" name="hasta" onclick="check()"> Seleccionar múltiples días.
            </label>
        </div>
    </form>
</div>
<div class="row">
    <h3>Generar Jumpers</h3>
    <button type="button" class="btn btn-primary" onclick="getjumps()"> Generar </button>
</div>
    <script>
        function check() {
            if(document.getElementsByName("hasta")[0].value == "no"){
                document.getElementsByName("end")[0].disabled = false;
                document.getElementsByName("hasta")[0].value = "si";
            } else {
                document.getElementsByName("end")[0].disabled = true;
                document.getElementsByName("hasta")[0].value = "no";
            }
        }
    </script>
    <script>
        function getjumps() {

            if (window.XMLHttpRequest) {
                // code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp = new XMLHttpRequest();
            } else {
                // code for IE6, IE5
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    if (this.responseText == "1") {
                        document.getElementById("success").innerHTML = "<div class='alert alert-success'><strong>Exito!</strong> Se genero el csv en el escritorio.</div>";
                        $("#success").fadeTo(2000, 500).slideUp(500, function(){
                            $("#success").slideUp(500);
                        });
                    }
                }
            };
            xmlhttp.open("GET", "/g_csv_j", true);
            xmlhttp.send();
        }
    </script>
<%- include layouts/footer.ejs %>