<%- include layouts/admin_header.ejs %>
<div id="success"></div>
<h1>Estadísticas</h1>
<div class="row">
    <h3>Generar Visitas</h3>
        <div class=form-group>
            <label for="datepicker">Desde:</label>
            <input type="date" class="form-control" name="ini" id="datepicker">
            <label for="datepicker2">Hasta:</label>
            <input type="date" name="end" id="datepicker2" class="form-control" disabled>
        </div>
        <div class="form-group">
            <a class="btn btn-lg btn-primary getcsv" data-tipo="visitas" >Generar</a>
            <label>
                <input type="checkbox"  value="no" name="hasta" id="checkhasta" onclick="check()"> Seleccionar múltiples días.
            </label>
        </div>
</div>
<div class="row">
    <h3>Generar Jumpers</h3>
    <a type="button" class="btn btn-primary getcsv" data-tipo="jumpers"> Generar </a>
</div>

    <script type="text/javascript">
        $(".getcsv").click(function(e){
            var yo = $(this);
            var data;
            if(yo.data('tipo') == "visitas"){
                data = {ini : $("#datepicker").val(),end: $("#datepicker2").val(),hasta: $("#checkhasta").val()}
            } else {
                data = {};
            }
            $.ajax({
                type: 'POST',
                data: data,
                url: '/csv_' + yo.data('tipo'),
                success: function(data) {
                    if(data == "0"){
                        alert("No se encontraron visitas");
                    } else {
                        yo.attr("href",data);
                        yo.attr("download",data);
                        yo.removeClass("btn-primary");
                        yo.removeClass("getcsv");
                        yo.addClass("btn-success");
                        yo.html("<i class='fa fa-download'></i> Descargar csv");
                    }
                }
            });
        });

        function check() {
            if(document.getElementsByName("hasta")[0].value == "no"){
                document.getElementsByName("end")[0].disabled = false;
                document.getElementsByName("hasta")[0].value = "si";
            } else {
                document.getElementsByName("end")[0].disabled = true;
                document.getElementsByName("hasta")[0].value = "no";
            }
        }
    </script>
<%- include layouts/footer.ejs %>