<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/logo.png">

    <title>Portal</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/dashboard.css" rel="stylesheet">


</head>

<body>
<!-- Barra de navegación y barra Lateral -->
<div class="cointainer">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Go Jump!</a>
            </div>
            <div class="navbar-right">
                <a href="handlers/registro_h.php?accion=logout">Salir</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/venta">Ventas</a></li>
                    <li><a href="/vip_list">Visitas en progreso</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row placeholders">
                <%
                if(data.length){
                    var nac, sec_left, years;
                    var ahora = new Date().getTime();
                    for(var i = 0;i < data.length; i++){
                        nac = new Date(jumps[jumps.length - 1 - i][3]).getTime();
                        sec_left = (ahora - nac) / 1000;
                        years = parseInt(sec_left / 31536000);%>
                %>
                <div class="col-sm-3 col-xs-6 placeholder">
                    <h2><%= data[i].id%></h2>
                    <h4><%= jumps[jumps.length - 1 - i][1]%></h4>
                    <h4> Edad : <%= years%></h4>
                    <button onclick="getcod(<%=data[i].id%>)"  class="btn btn-info">Generar</button>
                </div>
                <%
                }
                } else{%>
                <div class="col-sm-6 col-xs-12">
                    <a>Error</a>
                </div>
                <%
                }
                %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-8">
            <a href="/venta_fin" class="btn btn-primary">Terminar venta</a>
        </div>
    </div>
</div>

<script>
    function getcod(id) {
        var pat = "/getcod/" + id.toString();
        window.open(pat,'_blank');
    }
</script>
</body>
</html>