<%- include layouts/user_header.ejs %>
    <h2 class="page-header">Jumpers</h2>
    <div class="row placeholder">
        <div class="col-sm-4 col-xs-4">
            <label>Correo</label>
            <input type="text" class="form-control" name="verif" placeholder="juanp@gmail.com" onkeyup="stream()">
        </div>
        <div class="col-sm-4 col-xs-4">
            <label>Nombre</label>
            <input type="text" class="form-control" name="nom" placeholder="Juan " onkeyup="stream()">
        </div>
        <div class="col-sm-4 col-xs-4">
            <label>Apellido</label>
            <input type="text" class="form-control" name="ape" placeholder="Pérez" onkeyup="stream()">
        </div>
    </div>
<form action="/jumper/add2session" method="post">
    <div class="table-responsive">
        <table class="table table-striped"  >
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Nacimiento</th>
                <th>Edad</th>
                <th>Correo</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody id="fila">
                <tr><td>No se encontraron Jumpers</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-5 col-md-offset-7">
        <div class="btn-group">
            <a class="btn btn-primary btn-danger deljump disabled" data-toggle="modal" data-target="#deljump" id="del"> - Eliminar </a>
            <button type="submit" class="btn btn-primary" name="continue" value="0" id="add" disabled>
                + Añadir a Venta
            </button>
            <button type="submit" class="btn btn-primary" name="continue" value="1" id="continue" disabled>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Añadir y continuar venta
            </button>
        </div>
    </div>
</form>
    <h3 class="sub-header">Venta actual</h3>
<div class="table-responsive">
    <table class="table table-striped"  >
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
        </thead>
        <tbody>

        <%
        if(data2.length){
        for(var i = 0;i < data2.length; i++){ %>
        <tr>
            <td><%= data2[i][1]%></td>
            <td><%= data2[i][2]%></td>
        </tr>
        <%
        }
        } else{%>
        <tr><td>La venta está vacía</td><td>-</td><td>-</td></tr>
        <%

        }
        %>
        </tbody>
    </table>

</div>
<script>
    function stream() {
        var nom = document.getElementsByName("nom")[0].value;
        var ape = document.getElementsByName("ape")[0].value;
        var verif = document.getElementsByName("verif")[0].value;
        var dats = {nom: nom, ape: ape, verif: verif};
        if(nom == "" && ape == "" && verif == ""){
            document.getElementById("fila").innerHTML = "<tr><td>No se encontraron Jumpers</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>";
            return;
        }
        if (window.XMLHttpRequest) {
            // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        } else {
            // code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                if (this.responseText != "0") {
                    document.getElementById("fila").innerHTML = this.responseText;
                }
            }
        };
        xmlhttp.open("POST", "/jump_stream", true);
        xmlhttp.setRequestHeader("Content-type", 'application/json');
        xmlhttp.send(JSON.stringify(dats));
    }
</script>
<script>

    function del() {
        var val = [];
        $(':checkbox:checked').each(function(i){
            val[i] = $(this).val();
        });
        var dats = {ids: val};
        if (window.XMLHttpRequest) {
            // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        } else {
            // code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                if (this.responseText != "0") {
                    stream();
                }
            }
        };
        xmlhttp.open("POST", "/delete_jump", true);
        xmlhttp.setRequestHeader("Content-type", 'application/json');
        xmlhttp.send(JSON.stringify(dats));
    }
</script>

<%- include layouts/footer.ejs %>