
<div class="col-md-8 col-md-offset-2 centr">
    <h1 class="wow bounceInDown animated">Continúa al paso 2 <i class="fa fa-arrow-circle-right"></i></h1>
    <h2 class="wow bounceInDown animated">Pase al mostrador.</h2>
    <div id="success"></div>
</div>
<script type="text/javascript">
    $(function(){
        setTimeout(function () {
            $.ajax({
                type: 'GET',
                contentType: 'application/json',
                url: '/gethom',
                success: function(data) {
                    $('#cuerpo').html(data);
                }
            });
        },5000);
    });
</script>