<div class="col-md-2">
    <div class="scroll wow bounceInDown animated">
        <a href="#" id="hom" class="btn btn-lg"><i class="fa fa-arrow-circle-left"></i> Volver</a>
    </div>
</div>
<div class="col-md-8 centro">
    <h1 class="wow bounceInDown animated">Continúa al paso 2 <i class="fa fa-arrow-circle-right"></i></h1>
    <h2 class="wow bounceInDown animated">Pase al mostrador.</h2>
    <div id="success"></div>
</div>
<script type="text/javascript">
    $(function(){
        setTimeout(function () {
            $.ajax({
                type: 'GET',
                contentType: 'application/json',
                url: '/gethom',
                success: function(data) {
                    $('#cuerpo').html(data);
                }
            });
        },5000);
    });
</script>