<form id="pform" class="wow bounceInDown animated">
    <div class="col-md-2">
        <div class="scroll wow bounceInDown animated">
            <a href="#" id="hom" class="btn btn-lg"><i class="fa fa-arrow-circle-left"></i> Volver</a>
        </div>
    </div>
    <div class="col-md-8">
        <h1 class="wow bounceInDown animated">Prechequeo</h1>
        <h2 class="wow bounceInDown animated">Registre a todos los que saltarán y NO están inscritos.</h2>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text" name="nom" id="keyboard" class="form-control" placeholder="Nombre" required data-validation-required-message="Escriba algún nombre.">
            <input type="text" name="ape" id="keyboard2" class="form-control" placeholder="Apellido" required data-validation-required-message="Escriba algún apellido.">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input type="text" name="fnac" class="form-control" placeholder="Fecha de nacimiento" id="datepicker" required data-validation-required-message="Entre una fecha de nacimiento.">
        </div>
        <div id="success"></div>
        <a href="#" id="enviar" class="btn btn-info btn-lg">Enviar</a>
    </div>
</form>

<script type="text/javascript">
    var timeout;
    $(function() {
        timeout = setTimeout(function () {
            $.ajax({
                type: 'GET',
                contentType: 'application/json',
                url: '/gethom',
                success: function(data) {
                    $('#cuerpo').html(data);
                }
            });
        },90000);
        $('#hom').click(function(){
            window.clearTimeout(timeout);
            $.ajax({
                type: 'GET',
                contentType: 'application/json',
                url: '/gethom',
                success: function(data) {
                    $('#cuerpo').html(data);
                    
                }
            });
        });
        $('#enviar').click(function(e){
            $("#enviar").attr("disabled", true);
            e.preventDefault();
            window.clearTimeout(timeout);


            /*$.ajax({
             dataType: 'jsonp',
             data: "data=yeah",
             jsonp: 'callback',
             url: 'http://localhost:3000/endpoint?callback=?',
             success: function(data) {
             console.log('success');
             console.log(JSON.stringify(data));
             }
             });*/
            var data = {};
            var firstName = $("input#keyboard").val();
            if(firstName == ""){
                $("#enviar").attr("disabled", false);
                $('#success').html("<div class='alert alert-danger'>");
                $('#success > .alert-danger')
                    .append("<strong>Error!</strong> porfavor escriba un nombre.");
                $('#success > .alert-danger')
                    .append('</div>');
                $("#success").fadeTo(2000, 500).slideUp(500, function(){
                    $("#success").slideUp(500);
                });
                return;
            }
            var lastName = $("input#keyboard2").val();
            if(lastName == ""){
                $("#enviar").attr("disabled", false);
                $('#success').html("<div class='alert alert-danger'>");
                $('#success > .alert-danger')
                    .append("<strong>Error!</strong> porfavor escriba un apellido.");
                $('#success > .alert-danger')
                    .append('</div>');
                $("#success").fadeTo(2000, 500).slideUp(500, function(){
                    $("#success").slideUp(500);
                });
                return;
            }
            var fnac = $("input#datepicker").val();
            if(fnac == ""){
                $("#enviar").attr("disabled", false);
                $('#success').html("<div class='alert alert-danger'>");
                $('#success > .alert-danger')
                    .append("<strong>Error!</strong> porfavor ingrese su fecha de nacimiento.");
                $('#success > .alert-danger')
                    .append('</div>');
                $("#success").fadeTo(2000, 500).slideUp(500, function(){
                    $("#success").slideUp(500);
                });
                return;
            }
            if (firstName.indexOf(' ') >= 0) {
                firstName = firstName.split(' ').slice(0, -1).join(' ');
            }
            if (lastName.indexOf(' ') >= 0) {
                lastName = lastName.split(' ').slice(0, -1).join(' ');
            }
            data.nom = firstName;
            data.ape = lastName;
            data.fnac = $("input#datepicker").val();

            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                url: '/psave',
                success: function(data) {
                    $("#enviar").attr("disabled", false);
                    $('#pform').trigger("reset");
                    $('#success').html("<div class='alert alert-success'>");
                    $('#success > .alert-success')
                        .append("<strong>Bien!</strong> el registro fue exitoso.");
                    $('#success > .alert-success')
                        .append('</div>');
                    $('#datepicker').data("DateTimePicker").viewMode('years');
                    $("#success").fadeTo(2000, 500).slideUp(500, function(){
                        $("#success").slideUp(500);
                    });
                    timeout = setTimeout(function () {
                        $.ajax({
                            type: 'GET',
                            contentType: 'application/json',
                            url: '/gethom',
                            success: function(data) {
                                $('#cuerpo').html(data);
                            }
                        });
                    },90000);
                }
            });
            /*$.ajax('http://localhost:3000/endpoint', {
             type: 'POST',
             data: JSON.stringify(data),
             contentType: 'application/json',
             success: function() { console.log('success');},
             error  : function() { console.log('error');}
             });*/
        });
        $('#datepicker').datetimepicker({
            viewMode: 'years',
            format: 'YYYY/MM/DD',
            maxDate: new Date(),
            locale: 'es',
            useCurrent: false
        });

        $('#keyboard').keyboard({
            usePreview: false,
            autoAccept: true
        })
        // activate the typing extension
            .addTyping({
                showTyping: true,
                delay: 250
            });

        $('#keyboard2').keyboard({
            usePreview: false,
            autoAccept: true
        })
        // activate the typing extension
            .addTyping({
                showTyping: true,
                delay: 250
            });

    });
</script>